<% provide(:title, "Home") %>


<div class="welcome vertical-center">
  
  <h1>Bilgi deposu</h1>
  <h2>bilgi deposu.</h2>
  
  <%= link_to "Hemen üye ol.", "#", class: "btn btn-lg btn-primary" %>
  <%= link_to "yada giriş yap.", "#" %>
  

</div>
